# reset the machine-id.
# NB systemd will re-generate it on the next boot.
# NB machine-id is indirectly used in DHCP as Option 61 (Client Identifier), which
#    the DHCP server uses to (re-)assign the same or new client IP address.
# see https://www.freedesktop.org/software/systemd/man/machine-id.html
# see https://www.freedesktop.org/software/systemd/man/systemd-machine-id-setup.html
- name: Reset the machine-id
  block:
    - name: Empty machine-id
      copy:
        content: ""
        dest: /etc/machine-id
    - name: Remove the dbus machine-id
      file:
        path: /var/lib/dbus/machine-id
        state: absent

# reset the random-seed.
# NB systemd-random-seed re-generates it on every boot and shutdown.
# NB you can prove that random-seed file does not exist on the image with:
#       sudo virt-filesystems -a ~/.vagrant.d/boxes/debian-11-amd64/0/libvirt/box.img
#       sudo guestmount -a ~/.vagrant.d/boxes/debian-11-amd64/0/libvirt/box.img -m /dev/sda1 --pid-file guestmount.pid --ro /mnt
#       sudo ls -laF /mnt/var/lib/systemd
#       sudo guestunmount /mnt
#       sudo bash -c 'while kill -0 $(cat guestmount.pid) 2>/dev/null; do sleep .1; done; rm guestmount.pid' # wait for guestmount to finish.
# see https://www.freedesktop.org/software/systemd/man/systemd-random-seed.service.html
# see https://manpages.debian.org/bullseye/manpages/random.4.en.html
# see https://manpages.debian.org/bullseye/manpages/random.7.en.html
# see https://github.com/systemd/systemd/blob/master/src/random-seed/random-seed.c
# see https://github.com/torvalds/linux/blob/master/drivers/char/random.c
- name: Reset the random-seed
  block:
    - name: Stop the systemd-random-seed service
      systemd:
        name: systemd-random-seed
        state: stopped
    - name: Remove the systemd random seed
      file:
        path: /var/lib/systemd/random-seed
        state: absent

# clean the cache and remove unneeded packages.
- name: Clean packages
  apt:
    autoclean: true
    autoremove: true

# zero the free disk space -- for better compression of the box file.
# NB prefer discard/trim (safer; faster) over creating a big zero filled file
#    (somewhat unsafe as it has to fill the entire disk, which might trigger
#    a disk (near) full alarm; slower; slightly better compression).
- name: Zero the free disk space
  shell: |
    set -euo pipefail
    root_dev="$(findmnt -no SOURCE /)"
    if [ "$(lsblk -no DISC-GRAN $root_dev | awk '{print $1}')" != '0B' ]; then
      while true; do
        output="$(fstrim -v /)"
        cat <<<"$output"
        sync && sync && sync && blockdev --flushbufs $root_dev && sleep 15
        if [ "$output" == '/: 0 B (0 bytes) trimmed' ]; then
          break
        fi
      done
    else
      dd if=/dev/zero of=/EMPTY bs=1M || true; rm -f /EMPTY
    fi
  args:
    executable: /bin/bash
